DB_ROOT_USER=root
DB_ROOT_PASSWORD=toor
DB_PASSWORD=tasks
DB_DATABASE=tasks
DB_USER=tasks

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=098b50695235f784e786bdbfbf5d48fe
#TRUSTED_PROXIES=127.0.0.0/8,10.0.0.0/8,172.16.0.0/12,192.168.0.0/16
#TRUSTED_HOSTS='^(localhost|example\.com)$'
###< symfony/framework-bundle ###
